body{
    font-family: 'EB Garamond', serif;
}
body p{
    font-family: 'Poppins', sans-serif;
}
.logo{
    height: 45px;
}
.banner{
    background-image: url(../images/banner.png);
    height: 80vh;
}
@media screen and (max-width:576px) {
    #banner-text, .client{
        width: 100%!important;
        padding: auto 5px!important;
    }
}
#card-2{
    background: linear-gradient(to bottom, #E7E7E7, #FFFFFF);
  }
  .carousel .carousel-item {
    max-height:430px;
}

.carousel-item img {
    object-fit:cover;
    max-height:430px;
}
.mx-height{
    max-height: 470px;
    min-width: 520px;
}
.accordion{
    min-width: 523px;
}
@media screen and (max-width:576px) {
    #accordion{
        flex-direction: column-reverse;
    }
    .accordion, .mx-height{
        min-width: 0;
        width: 100vw;
        margin-right: 5px;
        box-sizing: border-box;
    }    
}